# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# Docker cache
.dockerignore

output/
checkpoints/

evaluate_rag_gemini.py
manual_rag_test_set.csv